.add-photo
    &__block
        width 200px
        height 125px
        background-color $light
        border-radius 10px
        display flex
        align-items center
        justify-content center

    &__round-btn
        width 46px
        height 46px
        background-color $white
        border 1px solid $dark
        border-radius 50%
        background-image url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 1.00024V9.00024' stroke='%23272528' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 5.00024L9 5.00024' stroke='%23272528' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        background-repeat no-repeat
        background-position center center
        cursor pointer