.oc-link-mobile-links
  & > span
    display flex
    flex-wrap wrap
    justify-content center

  & .icon-content
    padding 0

    border 0
    background-color transparent

    &.active
      &.heart svg path
        stroke $primary

      &.home svg path
        fill $primary

      &.find svg
        & circle
        & path
          stroke $primary

      &.add svg
        & circle
        & path
          stroke $primary

      &.user svg
        & circle
        & path
          stroke $primary

  & .text-link
    display block
    flex-basis 100%
    margin-top 0

    font-style normal
    font-weight normal
    font-size 9px
    line-height 12px
    text-align center
    letter-spacing -0.1px
    color $dark

    &.active
      color $primary
