.oc-link-profile
  & .text-link
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px
    letter-spacing: 0.1px
    color: $dark

@media (min-width 1280px)
  .oc-link-profile
    & .text-link
      font-size 20px
