.loc {
    &__h {
        font-family: Calibri;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #272528;
    }

    &__a {
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }

    &__span {
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        white-space: pre;
    }

    &__flex {
        display: flex;
    }

    &__inline {
        display: inline;
    }

    &__mt28 {
        margin-top: 28px;
    }
}