.loc {
    &__box {
        border-bottom: 1px solid #ECECEC;
        max-width: 1280px;
        margin: auto;
    }

    &__h {
        font-family: Calibri;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #272528;
        margin-top: 72px;
    }

    &__a {
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }

    &__a:hover {
        text-decoration-line: underline;
    }

    &__span {
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        white-space: pre;
    }

    &__flex {
        display: flex;
    }

    &__inline {
        display: inline;
    }

    &__mt28 {
        margin-top: 28px;
    }

    &__yandex-map-content {
        width: 1280px;
        height: 440px;
        margin-top: 28px;
    }

    &__desc {
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #272528;
        margin-top: 33px;
    }

    &__read-more {
        font-family: Calibri;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #272528;
        margin-top: 12px;
        margin-bottom: 71px;
    }
}