.advantage
  text-align center
  display flex
  flex-direction column
  padding $size-3 * 2 $size-3 * 2
  max-width 1200px
  margin auto

  & h2
    font-size $fs-3
    margin-bottom $size-3 * 2

  &__list
    display flex
    flex-direction row
    border-bottom 2px solid $gray-0
    padding-bottom $size-3 * 2
    margin-bottom $size-3 * 2

  &__item
    max-width 650px

    &_header
      font-weight bold
      font-size $fs-1
      margin-top $size-3
      margin-bottom $size-0

  &__icon
    color $green-1
    font-size $fs-6

  &__footer
    font-size $fs-1

    & p
      margin-top $size-3
      font-weight bold
