.modal-container
  width: 730px;
  height: 600px;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  box-sizing: border-box;
