.hab-payment {
    &__name {
        margin-top: 36px;
        padding-bottom: 35px;
        border-bottom: 1px solid #DADADA;

        &__input-name {
            background: #F3F3F3;
            box-shadow: inset 0px -1px 0px #D5D1DB;
            border-radius: 4px 4px 0px 0px;
            font-family: Calibri;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.1px;
            color: #272528;
            padding: 14px 15px;
            width: 262px;
            height: 28px;
            border: none;
            outline: none;

            @media (max-width: 768px) {
                font-size: 15px;
                line-height: 28px;
                width: 254px;
            }

            &::placeholder {
                color: #989BA8;
            }

            &:focus, &:hover {
                box-shadow: inset 0px -2px 0px #0082B4;
                transition: all 0.3s ease-in-out 0s;
            }
        }

        @media (max-width: 768px) {
            margin-top: 16px;
            padding-bottom: 15px;
        }
    }

    &__p {
        font-family: Calibri;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #272528;
        margin-top: 35px;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 24px;
            margin-top: 24px;
        }
    }

    &__p2 {
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #272528;
        margin-top: 4px;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 27px;
            margin-top: 12px;
        }
    }

    &__p3 {
        display: none;

        @media (max-width: 768px) {
            display: block;
            margin-top: 32px;
            margin-bottom: 15px;
            font-family: Calibri;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #272528;
        }
    }

    &__input2 {
        margin-top: 16px;
        background: #F3F3F3;
        box-shadow: inset 0px -1px 0px #D5D1DB;
        border-radius: 4px 4px 0px 0px;
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.1px;
        color: #272528;
        border: none;
        width: 489px;
        outline: none;
        padding: 14px 16px;

        &::placeholder {
            color: #989BA8;
        }

        &:focus, &:hover {
            box-shadow: inset 0px -2px 0px #0082B4;
            transition: all 0.3s ease-in-out 0s;
        }

        @media (max-width: 768px) {
            font-size: 15px;
            line-height: 28px;
            width: 252px;
        }
    }

    &__flex {
        display: flex;
        margin-top: 24px;
        align-items: center;

        @media (max-width: 768px) {
            margin-top: 16px;
        }
    }

    &__checkbox {
        background: #FFFFFF;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 4px;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition all 0.3s ease-in-out 0s

        &__black {
            background: #272528;
            border: none;
        }
    }
}

p.lic {
    margin-left: 16px;
    color: #989BA8;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;

    @media (max-width: 768px) {
        margin-left: 8px;
        font-size: 13px;
    }
}