.input-container
  position relative
  width 100%
  margin 0

  &__label
    cursor pointer

    box-sizing border-box

    &--required
      color $danger

  &__input
    rm-outline()

    &::-webkit-outer-spin-button
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0

    &[type=number]
      -moz-appearance textfield

  &__icon
    position absolute
    top 0
    bottom 0

    display flex
    align-items center
    margin auto 0
    height 100%

    color $secondary
    font-size $fs-1

    z-index 1

    &--left
      left 12px

    &--right
      right 12px
