.apartments-page
  height 100vh

  &__container
    display flex
    flex-wrap wrap
    max-width 1280px
    margin 0 auto
    padding-top: 26px

  &__title-container
    order 2
    flex-basis 100%

    display flex
    margin-bottom: 16px
    padding: 0 18px

    @media (min-width 1280px)
      padding 0

  &__title
    margin-right 8px

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #272528;

  &__count
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.2px;
    color: #989BA8;

  &__filters
    flex-basis 100%
    display flex
    margin-bottom: 20px
    padding: 0 18px

    order 1

  &__content
    order 3

  &__pagination.pagination
    padding 0 48px

    order 4

@media(min-width: 1090px)
  .apartments-page
    margin-top 91px
    padding-bottom 55px

    &__container
      padding-top 56px


@media(min-width 1280px)
  .apartments-page
    &__title
      margin-right: 12px

      font-size: 32px;
      line-height: 24px;

    &__count
      font-size: 18px;
      line-height: 18px;

    &__title-container
      margin-bottom 32px

      order 1

    &__filters
      margin-bottom 52px
      padding: 0

      order 2
