.ap-step5
  position relative

  &__radio
    margin-bottom 24px
    position relative

  &__h2
    margin-top 60px

  &__list
    margin-top 24px
    padding 0
    list-style none

  &__item
    margin-bottom 16px

    &:last-child
      margin-bottom 0

  &__two-columns
    column-count 2

  &__pb80
    padding-bottom 80px

  &__folding-block
    margin-top 60px

    & .add-placement__red-star
      display none
