.ap-button-filter {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #272528;
    border: 1px solid #D4D6DE;
    box-sizing: border-box;
    border-radius: 44px;
    outline: none;
    padding: 10px 18px 8px 18px;

    &:hover {
        color: #0082B4;
    }
}