.ap-button-red {
    margin-left: 24px;
    margin-top: 44px;
    padding: 17px 20px 15px 20px;
    height: 56px;
    background: #CA1F03;
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    transition: background 0.3s ease-in-out 0s;

    &:hover {
        background: #BF1F05;
    }
}