.sign-in

  &__container
    margin-top 10px

    &__text
      margin-bottom 8px

      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.1px;
      color: #272528;

      &:last-of-type
        margin-bottom 28px

  & .go-back
    position absolute
    right 64px
    bottom 56px

    color $primary

.box__signin
    min-height 256px
    top calc(50% - 192px)

.reg
    position absolute
    left 64px
    bottom 52px

    font-style normal
    font-weight norphoneNumbermal
    font-size 16px
    line-height 24px
    letter-spacing 0.1px
    color #3D88C8

.reset
    position absolute
    left 250px
    bottom 52px

    font-style normal
    font-weight normal
    font-size 16px
    line-height 24px
    letter-spacing 0.1px
    color #3D88C8

p.p, p.p456
    font-style normal
    font-weight normal
    font-size 18px
    line-height 28px
    letter-spacing 0.1px
    color #272528
    margin-top 8px
    margin-bottom 44px

.timer
    font-style normal
    font-weight normal
    font-size 22px
    line-height 28px
    letter-spacing 0.1px
    color #272528
    margin-top 52px

@media (max-width 750px)
    .sign-in
        background-color #FFFFFF

    .reg
        position static
        display inline-block
        text-align center
        width 100%
        margin-top 32px

    .reg7
        margin-top 133px

    .reset
        position static
        display inline-block
        text-align center
        margin-top 16px
        width 100%

    p.p456
        margin-bottom 33px


