.hab-request
  &__you-can
    font-family Calibri
    font-style normal
    font-weight normal
    font-size 18px
    line-height 23px
    color $dark
    background rgba(202, 31, 3, 0.1)
    border-radius 10px
    padding 3px 18px 4px 18px
    display table-cell
    vertical-align middle
    height 62px

.mt104
  margin-top 104px

.mt62
  margin-top 62px

.mt48
  margin-top 48px

.mt36
  margin-top 36px

.mr34
  margin-right 34px

.mr8
  margin-right 8px

.mb12
  margin-bottom 12px