.checkboxes
  background #FFFFFF
  box-shadow inset 0px -1px 0px #F3F3F3
  border-radius 12px 12px 0px 0px

  &__list
    display flex
    margin 0
    padding 0 14px

    list-style none

  &__item
    padding 0 10px

