$white = #ffffff
$black = #000000
$black-1 = #272528

$gray = #989BA8
$gray-1 = #DFE1E5

$green-1 = #74d96a

$orange = rgb(255, 205, 0)

$blue = #3D88C8
$blue-1 = #5271ff
$blue-3 = #0082B4

$red = #CA1F03
$red-hover = #BF1F05
$red-1 = #ff1e1e
