.week-time
    padding 8px 16px
    box-shadow 0px 2px 30px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08)
    border-radius 3px
    margin-bottom 20px
    z-index 99
    background $white

    &__flex
        display flex
        justify-content flex-end

    &__ready
        font-family Calibri
        font-style normal
        font-weight bold
        font-size 14px
        line-height 28px
        color $dark
        border none
        outline none
        background-color rgba(0, 0, 0, 0)
        cursor pointer
        margin-top 12px
