.desc-block
    display flex
    margin-top 72px
    max-width 1280px
    margin auto
    margin-top 72px
    margin-bottom 72px

    @media (max-width 768px)
        flex-direction column
        margin-top 0
        margin-bottom 0



.left-col
    width 100%


.flex
    display flex


.desc2
    font-family Calibri
    font-style normal
    font-weight normal
    font-size 16px
    line-height 20px
    letter-spacing 0.2px
    color #272528
    margin-top 32px

    @media (max-width 768px)
        display none



.more
    font-family Calibri
    font-style normal
    font-weight bold
    font-size 16px
    line-height 20px
    letter-spacing 0.2px
    color #272528

    @media (max-width 768px)
        display none



.desc-block-row
    display flex

    @media (max-width 768px)
        margin-top 24px



.name-icon
    font-family Calibri
    font-style normal
    font-weight bold
    font-size 30px
    line-height 37px
    display flex
    align-items center
    justify-content center
    color #FFFFFF
    background #A7E9ED
    border-radius 50%
    width 64px
    height 64px
    flex-shrink 0
    position relative
    margin-left 38px

    @media (max-width 768px)
        margin-left 0
        width 40px
        height 40px
        font-size 24px
        line-height 29px



.online-status
    background #FE392F
    border 3px solid #FFFFFF
    position absolute
    bottom 1px
    right 1px
    border-radius 50%
    flex-shrink: 0
    width: 12px
    height: 12px

    @media (max-width: 768px)
        width: 8px
        height: 8px
        border-width: 1px
        bottom: 0
        right: 3px



.right-col
    flex-shrink: 0
    margin-left: 24px


.name
    font-family: Calibri
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 29px
    color: #272528

    @media (max-width: 768px)
        font-size: 20px
        line-height: 24px



.last-seen
    font-family: Calibri
    font-style: normal
    font-weight: normal
    font-size: 11px
    line-height: 13px
    display: flex
    align-items: center
    color: #989BA8
    margin-left: 8px

    @media (max-width: 768px)
        font-size: 10px
        line-height: 12px



.owner-status
    font-family: Calibri
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 20px
    display: flex
    align-items: center
    color: #272528
    margin-top: 4px

    @media (max-width: 768px)
        font-size: 14px
        line-height: 17px



.mt24
    margin-top: 24px


.languages
    font-family: Calibri
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 17px
    display: flex
    align-items: center
    color: #272528


.reg-date
    font-family: Calibri
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 17px
    display: flex
    align-items: center
    color: #989BA8

    @media (max-width: 768px)
        font-size: 12px
        line-height: 15px



.connect
    width: 149px
    height: 56px
    margin-top: 12px
    margin-left: 124px

    @media (max-width: 768px)
        width: 284px
        height: 48px


