.oc-input-checkbox-filter
  & .label
    display flex
    align-items center
    min-height 56px

    font-style normal
    font-weight normal
    font-size 18px
    line-height 24px
    letter-spacing 0.2px
    color $dark

    border-bottom 2px solid transparent

    transition all 0.3s ease-in-out 0s
    cursor pointer

  &.checked .label
    border-color $primary

    transition all 0.3s ease-in-out 0s
