.oc-input-date
  border-bottom 1px solid #D3D3D3

  & .label
    display block

    border-bottom 1px solid #D3D3D3
    box-sizing border-box
    cursor pointer

  & .input
    width 100%
    padding 11px 0

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.3px;
    color: $black-1
    text-align center

    border 0

  &.active
    border-color $black-1
