.oc-input-search-radio
  & .label
    display block
    padding 13px 0

    font-style normal
    font-weight normal
    font-size 18px
    line-height 24px
    letter-spacing 0.2px
    color $secondary

    cursor pointer

  &.checked .label
    color $dark

    border-bottom 2px solid #5604C1
