.ap-time-select
    &__sel
        width 66px
        height 24px
        font-style normal
        font-weight normal
        font-size 14px
        padding-left 7px
        -webkit-appearance none
        -moz-appearance none
        -ms-appearance none
        appearance none !important
        background transparent
        background-image url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5 5L0.999998 1' stroke='%23989BA8'/%3E%3C/svg%3E%0A")
        background-position right 7px center
        background-repeat no-repeat
        outline none
        border none
        border 1px solid #DADADA
        border-radius 4px