.booking
  margin 15px 10px 0 0
  border 2px solid rgba(141, 255, 255, .3)
  border-radius 4px
  padding 20px

.div-flex
  display flex

.man
  width 20px

.select-list
  margin-right: 16px
 
.add-children
  border 1px solid grey
  margin 0px 15px
  padding 0px 15px

.booking-button
  display flex
  width 140px
  height 35px
  border-radius 5px
  background-color rgb(113, 64, 184)
  margin-top 20px

.text-button
  margin auto