.habitation-subscribe {
    height: 144px;
    max-width: 1280px;
    margin: auto;
    padding: 0 80px 0 80px;
    display: flex;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;

    @media (max-width: 768px) {
        display: none;
    }

    &__h {
        margin-top: 61px;
        font-family: Calibri;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #272528;
    }

    &__input {
        padding: 14px 20px;
        margin-top: 44px;
        margin-left: 80px;
        height: 28px;
        width: 644px;
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.1px;
        color: #989BA8;
        // background: #F3F3F3;
        box-shadow: inset 0px -1px 0px #D5D1DB;
        border-radius: 4px 4px 0px 0px;
        outline: none;
        border: none;
    }

    &__button {
        margin-left: 24px;
        margin-top: 44px;
        padding: 17px 20px 15px 20px;
        // width: 90px;
        // height: 24px;
        width: 130px;
        height: 56px;
        background: #CA1F03;
        border-radius: 4px;
        outline: none;
        border: none;
        font-family: Calibri;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        transition: background 0.3s ease-in-out 0s;

        &:hover {
            background: #BF1F05;
        }
    }
}