.password-recovery
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background-color #E5E5E5


p.p15
    font-family Calibri
    font-style normal
    font-weight normal
    font-size: 18px
    line-height: 28px
    letter-spacing: 0.1px
    color: #272528
    margin-top: 8px
    margin-bottom: 44px


.box__signup
    height: 296px
    top: calc(50% - 212px)


@media (max-width: 750px)
    .password-recovery
        background-color: #FFFFFF


    .code14
        margin-top: 31px


    p.p15
        margin-bottom: 60px


