.comfort-item
  width 242px
  height 320px
  margin-top 8px

  @media (max-width 768px)
    width 86px
    height 130px

  &__img-container
    width 242px
    height 268px

    background #F8F8F8
    border-radius 12px

    @media (max-width 768px)
      width 86px
      height 86px

  &__img
    width 206px
    height 227px
    margin-bottom 12px
    padding 18px

    @media (max-width 768px)
      width 82px
      height 82px
      padding 4px

  &__name
    width 242px
    height 40px

    font-style normal
    font-weight bold
    font-size 18px
    line-height 22px
    color $dark

    @media (max-width 768px)
      font-size 13px
      line-height 16px
      height 16px
      width 86px



