.comfort-item
  width 242px
  height 320px
  margin-top 8px

  @media (max-width 768px)
    width 86px
    height 130px

  &__img-container
    display flex
    align-items center
    justify-content center
    width 242px
    height 268px

    background #F8F8F8
    border-radius 12px

    @media (max-width 768px)
      width 86px
      height 86px

  &__img
    width 206px
    height 227px
    margin-bottom 12px
    padding 18px

    &.hairdryer
      width 158px
      height 162px

    &.coffee
      width 128px
      height 191px

    &.teapot
      width 148px
      height 158px

    &.iron
      width 156px
      height 166px

    &.frige
      width 144px
      height 222px

    &.tv
      width 206px
      height 176px

    &.audio
      width 186px
      height 185px

    &.playstation
      width 133px
      height 133px

    &.tableware
      width 193px
      height 193px

    &.washer
      width 138px
      height 165px

    &.dishes
      width 208px
      height 208px

    &.dishwasher
      width 160px
      height 190px

    &.fire
      width 199px
      height 196px

    &.electricStove
      width 213px
      height 219px

    &.gasStove
      width 223px
      height 210px

    &.microwave
      width 176px
      height 145px

    @media (max-width 768px)
      width 82px
      height 82px
      padding 4px

  &__name
    width 242px
    height 40px

    font-style normal
    font-weight bold
    font-size 18px
    line-height 22px
    color $dark

    @media (max-width 768px)
      font-size 13px
      line-height 16px
      height 16px
      width 86px



