.comfort-item
  width 242px
  height 320px
  margin-top 8px

  @media (max-width 768px)
    width 86px
    height 130px

  &__img-container
    display flex
    align-items center
    justify-content center
    width 242px
    height 268px

    background #F8F8F8
    border-radius 12px

    @media (max-width 768px)
      width 86px
      height 86px

  &__img
    width 206px
    height 227px
    margin-bottom 12px
    padding 18px

    &.hairdryer
      width 158px
      height 162px

      @media (max-width 768px)
        width 60px
        height 62px

    &.coffee
      width 128px
      height 191px

      @media (max-width 768px)
        width 44px
        height 66px

    &.teapot
      width 148px
      height 158px

      @media (max-width 768px)
        width 54px
        height 58px

    &.iron
      width 156px
      height 166px

      @media (max-width 768px)
        width 50px
        height 54px

    &.frige
      width 144px
      height 222px

      @media (max-width 768px)
        width 44px
        height 68px

    &.tv
      width 206px
      height 176px

      @media (max-width 768px)
        width 86px
        height 67px

    &.audio
      width 186px
      height 185px

      @media (max-width 768px)
        width 75px
        height 75px

    &.playstation
      width 133px
      height 133px

      @media (max-width 768px)
        width 60px
        height 60px

    &.tableware
      width 193px
      height 193px

      @media (max-width 768px)
        width 58px
        height 44px

    &.washer
      width 138px
      height 165px

      @media (max-width 768px)
        width 53px
        height 64px

    &.dishes
      width 208px
      height 208px

      @media (max-width 768px)
        width 70px
        height 37px

    &.dishwasher
      width 160px
      height 190px

      @media (max-width 768px)
        width 57px
        height 68px

    &.drying
      width 208px
      height 208px

      @media (max-width 768px)
        width 64px
        height 64px

    &.fire
      width 199px
      height 196px

      @media (max-width 768px)
        width 76px
        height 61px

    &.electricStove
      width 213px
      height 219px

      @media (max-width 768px)
        width 62px
        height 64px

    &.gasStove
      width 223px
      height 210px

      @media (max-width 768px)
        width 60px
        height 57px

    &.microwave
      width 176px
      height 145px

      @media (max-width 768px)
        width 69px
        height 57px

    @media (max-width 768px)
      width 82px
      height 82px
      padding 4px

  &__name
    width 242px
    height 40px

    font-style normal
    font-weight bold
    font-size 18px
    line-height 22px
    color $dark

    @media (max-width 768px)
      font-size 13px
      line-height 16px
      height 16px
      width 86px



