.two-column-checkboxes
    &__ul
        column-count 2
        margin-top 24px
        padding 0
        list-style none

    &__item
        margin-bottom 16px
        break-inside avoid

        &:last-child
            margin-bottom 0