.habitation-top
  display flex
  justify-content space-between
  max-width 1280px
  margin auto

  &__container
    display flex
    align-items center
    justify-content space-between

  &__path
    color $secondary

    &--link
      font-style normal
      font-weight normal
      font-size 18px
      color $secondary
      line-height 22px
      white-space pre

      &:hover
        text-decoration underline

  &__prev-button
    position relative

    display block
    width 3px
    height 100%
    margin-right 8px

    font-size 0

    &:before
      content ''

      position absolute
      top 0
      bottom 0
      left 0
      right 0

      width 5px
      height 8px
      margin auto

      background-image url('/icons/arrow-border.svg')
      background-size 5px 8px
      background-repeat no-repeat
      background-position 0 0

  &__btns
    display flex

  &__btn
    margin-left 12px

    &--complain
      margin-left 12px

@media (max-width 768px)
  .habitation-top
    &__container
      font-size 13px
      line-height 26px
      margin-top 0
      width calc(100% - 80px)
      overflow hidden
      justify-content flex-start

    &__path
      margin-top 0

      &--link
        font-size 13px
        line-height 26px

    &__prev-button
      margin-right 11px

    &__btn
      height auto

      border none

      &--complain
        display none
