.oc-link-main-card-title
  & .text-link
    font-style normal
    font-weight bold
    font-size 18px
    line-height 24px
    color $dark
    white-space nowrap

    anim all

@media (min-width 1280px)
  .oc-link-main-card-title
    & .text-link
      font-size 20px
      line-height 24px
