.oc-link-most
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;

  & .text-link
    color: $black-1

    anim(color)

  &:hover .text-link
    color $blue

    anim(color)
