.ap-step3
    &__flex
        display flex
        padding-bottom 48px
        position relative

    &__left-col
        width 642px

    &__h2-1
        margin-left 6px

    &__h2-2
        margin-top 54px
        margin-bottom 24px

    &__arrow-h
        margin-top 72px
        margin-bottom 24px

    &__arrow-h-2
        margin-top 95px
        margin-bottom 24px
