.stage-bar {
    &__outer {
        width: 100%;
        height: 6px;
    }

    &__inner {
        height: 6px;
        border-radius: 12px;
        background-color: #3D88C8;
        transition: all 0.3s
    }

    &__stage1 {
        width: 16%;
    }

    &__stage2 {
        width: 33%;
    }

    &__stage3 {
        width: 50%;
    }

    &__stage4 {
        width: 66%;
    }

    &__stage5 {
        width: 83%;
    }

    &__stage6 {
        width: 100%;
    }
}