.all-content
  border 2px solid rgba(141, 255, 255, .3)
  border-radius 4px
  padding 20px
  margin 15px 10px 0 0

.div-flex
  display flex

.first-part
  padding-bottom 20px
  border-bottom: 2px solid rgba(141, 255, 255, .3)

.second-part
  margin-top 20px

.avatar
  width 50px
  height 50px
  margin 0 10px 0 0

.name
  font-weight 700
  color rgb(85, 85, 85)
  margin 8px 0 0 0
  font-size 20px

.online
  color #fff
  background-color rgb(29, 172, 0)
  border-radius 5px
  font-size: 15px;
  height: 16px;
  margin: 11px 12px 0 12px;
  padding: 0 6px 0 6px;

.flag
  height 30px
  margin-right 4px

.rating
  color #fff
  background-color rgb(135, 108, 175)
  padding 3px 8px
  border-radius 5px
  margin 4px 4px
  height 16px
  font-size 14px

.pro
  background-color rgb(255, 205, 0)
  padding 3px 8px
  border-radius 5px
  margin 4px 4px
  height 16px
  font-size 14px

.connect-button
  background-color rgb(29, 172, 0)
  width 125px
  height 35px
  color #fff
  margin 17px 0 0 113px
  font-size: 16px
  border-radius: 4px

.img-button
  width 22px
  vertical-align: middle
  margin-right: 10px

.subscribe-button
  width 140px
  height 35px
  border 1px solid rgb(117, 70, 186)
  border-radius 4px
  display flex

.subscribe-text
  margin auto
  color rgb(117, 70, 186)

.heart
  width 16px
  margin-left: 10px

.complain-button
  width 140px
  height 35px
  border 1px solid rgb(240, 78, 70)
  border-radius 4px
  display flex
  margin-left 10px

.complain-text
  margin auto
  color rgb(240, 78, 70)

.exclamationMark
  height 20px
  margin auto

.grey166
  color: rgb(166, 166, 166)

.icon-refresh
  height 15px
  opacity 0.5
  margin-left: 25px
  vertical-align: middle
  padding-bottom 3px

.icon-eye
  height 18px
  opacity 0.5
  margin-left: 25px
  vertical-align: middle
  padding-bottom 4px

.tech-info
  padding-bottom: 15px