.ap-step1 {
    &__flex {
        display: flex;
        position: relative;
    }

    &__p1, &__p2, &__p3 {
        font-family: Calibri;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 32px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: #272528;
    }

    &__p1 {
        margin-top: 72px;
    }

    &__p2 {
        margin-top: 40px;
    }

    &__p3 {
        margin-top: 24px;
    }

    &__input1, &__input2 {
    }

    &__yandex-map-content {
        border: 1px solid #D5D1DB;
        width: 490px;
        height: 223px;
    }

    // &__button-filter {
    //     margin-top: 90px;
    //     margin-left: 151px;
    // }
}

div.ap-button-filter {
    margin-top: 90px;
    margin-left: 151px;
}

.ap-input {
    width: 459px;
}

// .ap-button-filter {
// margin-top: 90px;
// margin-left: 151px;
// }
.ap-button-red {
    width: 240px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.ap-list-dropdown__ul {
    width: 266px;
}