.card
  display flex
  flex-wrap wrap
  justify-content center
  padding 20px

  box-sizing border-box

  &__img
    margin-bottom 12px
    width: 100%
    max-width 244px
    height: 120px;

    border-radius 12px
    overflow hidden

  &__reviews
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 28px;
    color: $secondary

  &__container
    flex-basis 100%
    margin-bottom 24px

  &__footer
    display flex
    justify-content space-between
    flex-basis 100%

  &__price
    &--text
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: $dark

    &--rouble
      font-family Rouble sans
      font-size 19px

    &--measure
      color $secondary

  &__status
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $dark

@media (min-width 1280px)
  .card
    flex-wrap nowrap
    justify-content space-between
    max-width 1280px
    margin 0 auto
    padding 28px

    &__img
      margin-bottom 0

    &__title
      display inline-block
      max-width 342px
      margin-bottom 12px

    &__reviews
      display none

    &__date
      margin-bottom 4px

      font-size 18px

    &__container
      margin-left 28px
      margin-bottom 0

    &__footer
      flex-basis auto
      justify-content flex-end
      min-width 110px
