.sign-up
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background-color #E5E5E5

.box__signup
    height 296px
    top calc(50% - 212px)

p.lic
    margin-top 36px
    color #989BA8
    font-family Calibri
    font-style normal
    font-weight normal
    font-size 16px
    line-height 20px
    letter-spacing 0.1px

.enter-top
    display none

.enter-bottom
    display inline-block
    margin-top 36px
    font-family Calibri
    font-style normal
    font-weight normal
    font-size 16px
    line-height 24px
    letter-spacing 0.1px
    color #5604C1


@media (max-width 750px)
    .sign-up
        background-color #FFFFFF

    .enter-top
        display inline-block
        text-align center
        width 100%
        margin-top 32px

    .enter-bottom
        display none


