.apartments
  display flex
  justify-content space-between

  &__list
    display flex
    justify-content space-between
    width 100%
    margin 0
    padding 0

    list-style none

  & .apartment
    position relative

    max-width 248px

    &__content
      position absolute
      left 0
      top 100%

    &__date-content
      .filter-calendar

        &__content
          margin-top 8px

          visibility visible

        .input-container
          display none

    &__select-content
      position absolute
      top 100%
