.habitation
    &__top {
        position relative

        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        margin: auto;

        z-index 9999

        @media (min-width 1280px) {
            position static
        }

        &__flex {
            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                font-size: 13px;
                line-height: 26px;
                margin-top: 0;
                width: calc(100% - 80px);
                overflow: hidden;
                justify-content: flex-start;
            }
        }

        &__path {
            font-family: Calibri;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #989BA8;
            white-space: pre;
            margin-top: 8px;

            @media (max-width: 768px) {
                font-size: 13px;
                line-height: 26px;
                margin-top: 0;
            }
        }

        &-btns {
            display: flex;

            @media (min-width 1280px) {
                position relative

                z-index 9999
            }

        }

        &__btn {
            border: 1px solid #D4D6DE;
            box-sizing: border-box;
            border-radius: 44px;
            font-family: Calibri;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #272528;
            padding: 10px 18px 8px 18px;
            margin-left: 12px;
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Chrome/Safari/Opera */
            -khtml-user-select: none; /* Konqueror */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

            @media (max-width: 768px) {
                border: none;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: -0.1px;
                padding: 0;
                text-align: right;
            }
        }

        &__complain {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

