.top {
    display: flex;
    justify-content: space-between;

    &__path {
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #989BA8;
        white-space: pre;
    }

    &__btn {
        border: 1px solid #D4D6DE;
        box-sizing: border-box;
        border-radius: 44px;
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #272528;
        padding: 10px 18px 8px 18px;
        margin-left: 12px;
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
        -khtml-user-select: none; /* Konqueror */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }
}

.flex {
    display: flex;
}