.habitation-top
  display flex
  justify-content space-between
  max-width 1280px
  margin auto

  &__container
    display flex
    justify-content space-between

  &__path
    font-style normal
    font-weight normal
    font-size 18px
    line-height 22px
    color #989BA8
    white-space pre
    margin-top 8px

  &__btns
    display flex

  &__btn
    margin-left 12px

    &--complain
      margin-left 12px

@media (max-width 768px)
  .habitation-top
    &__container
      font-size 13px
      line-height 26px
      margin-top 0
      width calc(100% - 80px)
      overflow hidden
      justify-content flex-start

    &__path
      font-size 13px
      line-height 26px
      margin-top 0

    &__btn
      height auto

      border none

      &--complain
        display none
