arrow-prev()
  display block
  width 3px
  height 6px

.oc-button-arrow-prev
  arrow-prev()

  & > .text-content
    font-size 0

  & > .icon-content
    arrow-prev()

    & svg
      arrow-prev()

      & path
        stroke $secondary

