.oc-button-select
  width 100%

  & > .text-content
    display flex
    padding 10px 12px

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #272528;

  &:hover
    background-color #ECECEC

    anim background-color
