.mobile-filter
  &__list
    display flex
    margin 0
    padding 0

    list-style none

  &__item
    margin-right 8px

  &__label
    display block
    padding 5px 16px

    font-style normal
    font-weight normal
    font-size 12px
    line-height 28px
    color #989BA8

    background #FFFFFF
    border 1px solid #DADADA
    box-sizing border-box
    border-radius 20px

    &:hover
    &:focus
      outline 0
