.password-recovery

  & .go-back
    display inline-block
    margin-top 45px
    color $primary

p.p15
  font-style normal
  font-weight normal
  font-size 18px
  line-height 28px
  letter-spacing 0.1px
  color $dark
  margin-top 8px
  margin-bottom 44px

.box__signup
  min-height 296px
  top calc(50% - 212px)

@media (max-width 750px)
  .password-recovery
    background-color #FFFFFF

  .code14
    margin-top 31px

  p.p15
    margin-bottom 60px


