.more-block-container
  position absolute
  top 100%

  min-width 200px
  width 100%
  max-width 300px
  height auto
  border-radius 12px

  background-color white
  box-shadow 0 0 10px rgba(0,0,0,0.5)

  z-index 5

  &__title
    margin-bottom 5px

  &__list
    margin 0
    padding 0

    list-style none

  &__item
    margin-bottom 5px

    &:last-child
      margin-bottom 0

  & .desc__bold--rouble
    font-family Rouble Sans

  &.price-more.hidden
    min-height 0
    height 0
    visibility hidden
