.result
  width 100%

  box-sizing border-box

  background-color white
  box-shadow 0px 2px 30px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08)
  border-radius 0px 0px 4px 4px

  &__list
    margin 0
    padding 0

    list-style none
