.count-bed
  max-width 325px

  &__title-count
    margin-bottom 24px

    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    color: #272528;

  &__title
    margin-bottom 12px

    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    color: #272528;

  &__list
    margin 0
    margin-bottom 24px
    padding 0

    list-style none

  &__item
    margin-bottom 28px

    &:last-child
      margin-bottom 0

  &__counter
    & .counter__title
      font-size 16px
      line-height 20px
      font-weight normal

  .add-block
    position relative

    display inline-block

    &__button
      display inline-flex

    &__content
      position absolute
      top 40px
      left 0
      right 0

      width 85%
      margin 0 auto


@media (min-width 768px)
  .count-bed
    &__title-count
      margin-bottom 18px

      font-size 18px

    &__title
      margin-bottom 24px

      font-size 18px
