.carousel
  position relative

  &__wrapper-container
    height 100%

    overflow-y hidden
    box-sizing border-box

    @media(min-width 1280px)
      margin-bottom -21px

  &__wrapper
    position relative

    min-height 120px
    height 99%
  
    overflow-x auto
    scroll-behavior smooth

    box-sizing border-box

    &::-webkit-scrollbar
      display none

    &.hide
      // overflow hidden

    @media(min-width 1280px)
      padding-bottom 21px
        
  &__list
    display flex

    transition left 0.5s ease-in-out 0s
    backface-visibility hidden
    -webkit-backface-visibility hidden

  .btn-carousel
    display none

    @media(min-width 1280px)
      display block

    &__prev
    &__next
      position absolute
      top 50%

      width 56px
      height 56px
      margin 0
      margin-top -27px

      font-size 0

      background-color transparent
      border 0
      border-radius 50%
      background-color #fff
      box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.04)

      cursor pointer
      z-index 10
      transition all 0.3s linear 0s

      &.disabled
        display none

      &:hover
      &:focus
        outline 0

      &:hover
        opacity 0.7
        transition all 0.3s linear 0s

      &:after
        content ''

        position absolute
        top 0
        bottom 0
        left 0
        right 0

        display block
        width 24px
        height 22px
        margin auto

        font-size 0

        background url('/arrow-cart.svg') 0 0 no-repeat
        background-size 24px 22px

        z-index 11

    &__next
      right 0
      left auto

      @media(min-width 1310px)
        right -29px
    
    &__prev
      &:after
        transform rotate(180deg)

      @media(min-width 1310px)
        left -29px
  
  &__dots-container
    position absolute
    bottom 12px
    left 0
    right 0

    width 60px
    margin 0 auto

    z-index 100

    @media(min-width 1280px)
      bottom 32px

  &__dots
    display flex
    justify-content space-between
    width 100%
    margin 0
    padding 0

    list-style none
    box-sizing border-box

  &__dot-button
    display block
    width 6px
    height 6px

    font-size 0

    background-color rgba(255, 255, 255, 0.6)
    border 0
    border-radius 50%

    &:hover
    &:focus
      outline 0

    &.active-dot
      background-color #D55F59

@media(min-width 1280px)
  .carousel
    &__wrapper
      &.show-desktop
        // overflow hidden