.link-icon
  &.heart
    & > svg
      width 16px
      height 14px

      & path
        stroke $black-1

  &.home
    & > svg path
      fill $black-1
      stroke transparent

  &.find
    & > svg
      & circle
      & path
        stroke $black-1

  &.add
    & > svg
      & circle
      & path
        stroke $black-1

  &.user
    & > svg
      & circle
      & path
        stroke $black-1



