.icon-content
  &.heart
    & svg
      width 16px
      height 14px

      & path
        stroke $dark

  &.home
    & svg path
      fill $dark
      stroke transparent

  &.find
    & svg
      & circle
      & path
        stroke $dark

  &.add
    & svg
      & circle
      & path
        stroke $dark

  &.user
    & svg
      & circle
      & path
        stroke $dark



