.filter
  margin-bottom 33px

  border-bottom 1px solid #F3F3F3

  &__list
    display flex
    margin 0
    padding 0

    list-style none

  &__item
    margin-right 20px

    &:last-child
      margin-right 0

  & .unit-filter
    &__label
      display block
      padding 13px 0

      font-style normal
      font-weight normal
      font-size 18px
      line-height 24px
      letter-spacing 0.2px
      color #989BA8

      cursor pointer

      &.selected
        color #272528

        border-bottom 2px solid #5604C1
