.filter
  margin-bottom 33px

  border-bottom 1px solid #F3F3F3

  &__list
    display flex
    margin 0
    padding 0

    list-style none

  &__item
    margin-right 20px

    &:last-child
      margin-right 0
