.step-container
  &__container
    margin-top 50px

  &__list-counter
    margin 0
    padding 0

    list-style none

  &__item-counter
    margin-bottom 34px

    &:last-child
      margin-bottom 0
