.housing-content
  &__list
    display flex
    flex-wrap wrap
    justify-content space-between
    margin 0
    padding 0

    list-style none

  &__item
    margin-bottom 32px

@media (min-width 1280px)
  .housing-content
    &__item
      margin-bottom 72px
