.footer
  margin: 0 -28px
  border-top 1px solid #ECECEC

  &__list
    display flex
    justify-content: space-between;
    margin: 0
    padding: 20px 28px

    list-style none

    border-radius 0 0 12px 12px
