.icon
  width 28px
  height 28px
  margin 10px 10px

.apartment-descriptor
  display flex
  flex-  column
  padding 22px

  &__separator
    width 100%
    border 0.5px solid $gray-3

  &__params
    display flex
    flex-direction row

  &__column
    display flex
    flex-direction column
    flex 1

.paragraph
  margin 15px 0 15px 0

.room-description
  display flex

.blue
  color blue

.grey166
  color rgb(166, 166, 166)

.grey85
  color rgb(85, 85, 85)
