.time-select-block
  &__flex
    display flex
    padding-bottom 153px
    position relative

  &__list
    margin-top 24px
    padding 0
    list-style none

  &__item
    margin-bottom 16px

  &__time-block
    margin-left 4px
    margin-right 4px

  &__sel-days:checked ~ label
    font-weight bold

  &__drop-time
    position relative

  &__drop-time-list
    position absolute
    left 25px