.tariff
  margin-bottom 12px
  position relative

.info-block-container
  .info-unit
    margin-bottom 24px

    &__title
      margin-bottom 16px

    &__list
      margin 0
      padding 0

      list-style none

    &__item
      margin-bottom 5px

      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #272528;

      &:last-child
        margin-bottom 0
