.ap-list-dropdown
    position relative

    &__ul
        background #FFFFFF
        box-shadow 0px 2px 30px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08)
        border-radius 3px
        margin-left 20px
        margin-top 0
        padding 0
        list-style none
        position absolute
        left 0
        top 100%
        z-index 9

    &__li
        font-family Calibri
        font-style normal
        font-weight normal
        font-size 16px
        line-height 20px
        color #272528
        padding 12px
        transition all 0.1s
        cursor pointer

        &:hover
            background-color #0082B4
            color #FFFFFF