.all
    background: #E5E5E5;
.box
    width: 500px;
    height: 256px;
    position: absolute
    top calc(50% - 192px)
    left calc(50% - 314px)
    padding 64px
    background white
.h
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    text-align: left;
    letter-spacing: 0.371429px;
    color: #272528;

.p
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #272528;
    margin-top: 8px;
    margin-bottom: 44px;

.sel-input
    background: #ECECEC;
    box-shadow: inset 0px -2px 0px #7140B8;
    border-radius: 4px 4px 0px 0px;
    outline none
    width 320px
    display: flex;

.sel
    width 72px
    height 56px
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    padding 18px 16px
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    background transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M1 1L5 5L9 1' stroke='%238F8A96' stroke-width='1.4' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-position: right 15px center;
    background-repeat: no-repeat;
    outline none
    border: none;
    border-right: 1px solid #D4D4D4;
    margin-bottom: 2px;

.input
    height 56px
    width 234px
    border none
    outline none
    background transparent;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #272528;
    padding-left 14px

input:focus
    border none

.arrow
    width 8px
    height 4px
    border: 1.4px solid #8F8A96;

.flex
    display flex

.btn
    width 160px
    height 56px
    background-color #DFE1E5
    border-radius: 4px;
    margin-left 20px
    border: none;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #272528;

.active
    background-color #FFE47E

.reg
    display: inline-block;
    margin-top: 72px;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #5470E2;

.copyright
    position: absolute;
    // width: 138px;
    // height: 20px;
    right: 96px;
    bottom: 31px;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #C1C4CD;

