.footer
  max-width 1280px
  padding 0 18px
  margin 0 auto

  border-top 1px solid #ECECEC

  &__container
    display flex
    flex-wrap wrap
    justify-content space-between
    padding-top 24px
    padding-bottom 75px

  & .footer-menu
    width 100%
    max-width 670px

    &__types
      display flex
      justify-content space-between
      flex-wrap wrap
      margin 0
      margin-bottom 10px
      padding 0

      list-style none

      @media(min-width 1090px)
        margin-bottom 0

    &__type
      align-self flex-start
      width 45%
      margin-bottom 35px

      @media(min-width 1090px)
        margin-bottom 0

  & .footer-menu-type
    width 45%
    max-width 200px

    &:last-child
      margin-top -80px

      @media(min-width 645px)
        margin-top 0

    &__title
      margin 0
      margin-bottom 4px

      font-style normal
      font-weight bold
      font-size 14px
      line-height 32px
      letter-spacing 0.3px
      text-transform uppercase
      color $dark

    &__list
      margin 0
      padding 0

      list-style none

    &__item
      margin-bottom 5px

  & .footer-contacts
    display flex
    align-self flex-start
    justify-content space-between
    align-items center

    flex-basis 100%
    max-width 208px
    width 100%
    margin 0 auto
    margin-bottom 35px

    &__social-list
      display flex
      justify-content space-between
      width 100%
      max-width 208px
      margin 0
      padding 0

      list-style none

    &__social-link
      display block

  & .footer-pay
    width 100%
    flex-basis 100%

    @media(min-width 1090px)
      flex-basis auto
      margin-left auto
      margin-right 0
      margin-top -59px

    &__title
      margin 0
      margin-bottom 8px

      font-style normal
      font-weight normal
      font-size 16px
      line-height 24px
      color $secondary

    &__list
      display flex
      align-items center
      flex-wrap wrap
      margin 0
      padding 0

      list-style none

    &__item
      margin-right 15px
      margin-bottom 24px

      &:last-child
        margin-right 0

      @media(min-width 1090px)
        margin-bottom 0

  & .footer-author
    display flex
    flex-wrap wrap

    margin-left -18px
    margin-right -18px
    padding 20px 18px
    margin-bottom 50px

    font-style normal
    font-weight normal
    font-size 16px
    line-height 24px
    color $secondary

    border-top 1px solid #ECECEC

    &__list
      display flex
      flex-wrap wrap
      margin 0
      padding 0

      list-style none

    &__item
      position relative

      padding-left 13px

      &:before
        content ''

        position absolute
        left 6px
        top 2px
        bottom 0

        width 2px
        height 2px
        margin auto 0

        background-color $secondary
        border-radius 50%

@media (min-width 768px)
  .footer
    padding 0 40px

    & .footer-author
      margin-left -40px
      margin-right -40px
      padding-left 40px
      padding-right 40px

@media(min-width 1090px)
  .footer
    max-width 100%

    &__wrapper
      width 100%
      max-width 1280px
      margin 0 auto

    & .footer-contacts
      max-width 380px
    & .footer-pay
      max-width 380px

    & .footer-author
      margin-bottom 0
      margin-left 0
      margin-right 0
      padding-left 0
      padding-right 0

@media (min-width 1280px)
  .footer
    padding 0

    &__container
      padding-top 43px
      padding-bottom 42px

    &__wrapper
      position relative

    & .footer-author
      align-items center
      min-height 90px
      padding-bottom 40px

      box-sizing border-box

      &__list
        align-items center

    & .footer-pay
      flex-basis 100%
      max-width 100%
      margin 0
      margin-top 32px

      &__link
        font-size 16px
        line-height 40px

    & .footer-menu-type
      &__title
        margin-bottom 8px

        font-size 14px
        line-height 32px

      &__link
        font-size 16px
        line-height 40px

    & .footer-contacts
      position absolute
      right 0
      bottom 37px

      max-width 208px
      margin 0
