.tariff {
    margin-bottom: 12px;
    position: relative;

    &__name {
        cursor: pointer;
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #272528;
        padding-left: 48px;

        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__radio-input {
        display: none;
    }

    &__name:before {
        content: '';
        width: 22px;
        height: 22px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #272528;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__name:after {
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #272528;
        position: absolute;
        top: 4px;
        left: 4px;
    }

    &__radio-input:not(:checked) + .tariff__name:after {
        opacity: 0;
    }

    &__radio-input:checked + .tariff__name:after {
        opacity: 1;
    }
}

p.tariff__desc {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #989BA8;
    margin: 4px 0 18px 48px;

    @media (max-width: 768px) {
        font-size: 13px;
        line-height: 16px;
    }
}
