.p-sms {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #272528;
    margin-top: 8px;
}

.code {
    width: 160px;
    margin-top: 36px;
    border: none;
    outline: none;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 9px;
    color: #272528;
}

.error {
    display: block;
    margin-top: 35px;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #E05050;
}

.timer {
    display: block;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #5604C1;
    margin-top: 48px;
}

.timerError {
    margin-top: 4px;
}

@media (max-width: 750px) {
    .code {
        margin-top: 55px;
    }

    .error {
        position: static;
        display: inline-block;
        margin-top: 65px;
    }

    .timer {
        display: inline-block;
        margin-top: 89px;
    }

    .timerError {
        margin-top: 4px;
    }
}