.ap-step4
    &__flex
        display flex
        padding-bottom 153px
        position relative

    &__left-col
        width 642px

    &__type-booking
        margin-top 56px
        text-transform uppercase

    &__radio-item
        margin-top 24px

    &__right-col
        margin-top 24px

    &__radio
        margin-bottom 24px

    &__flex-time
        display flex
        align-items baseline

    &__time-block
        margin-left 4px
        margin-right 4px

    &__sel-days:checked ~ label
        font-weight bold

    &__drop-time
        position relative

    &__drop-time-list
        position absolute
        left 25px
