.ap-step4
    &__flex
        display flex
        padding-bottom 153px
        position relative

    &__left-col
        width 642px

    &__type-booking
        margin-top 56px
        text-transform uppercase

    &__radio-item
        margin-top 24px

    &__right-col
        margin-top 24px

    &__radio
        margin-bottom 24px
