.total
    &__sector3
        margin-top 24px
        padding-top 24px
        border-top 1px solid #DADADA

        &__flex
            display flex
            justify-content space-between


        @media (max-width 768px)
            margin-top 16px
            padding-top 16px



    &__sum

        font-style normal
        font-weight bold
        font-size 18px
        line-height 22px
        color $dark

        &__norm
            font-weight normal

            @media (max-width 768px)
                color green
                display none



        @media (max-width 768px)
            font-size 16px
            line-height 20px



    &__p4

        font-style normal
        font-weight normal
        font-size 14px
        line-height 17px
        display flex
        color $secondary

        &__2
            margin-top 16px
            margin-bottom 35px

            @media (max-width 768px)
                margin-top 8px
                margin-bottom 15px



        @media (max-width 768px)
            font-size 13px
            line-height 16px



