.comfort-item {
    width: 242px;
    height: 320px;
    margin-top: 8px;

    &__img {
        width: 206px;
        height: 227px;
        margin-bottom: 12px;
        padding: 18px;
    }

    &__name {
        width: 242px;
        height: 40px;
        font-family: Calibri;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #272528;
    }
}