.oc-button
  padding $size-1 $size-2
  font-size $fs-1
  border 1px solid grey
  border-radius .25rem

  &_solid
    background @border-color
    
  &_outline
    background none

.color-white
  color $white
  border-color $white