.ap-sums
    display flex

    &__rub
        margin-top 4px
        margin-left -12px
        margin-right 4px
        color #989BA8

    &__input
        border 1px solid #DADADA
        box-sizing border-box
        border-radius 4px
        padding 2px 4px
        height 24px
        width 108px
        font-size 14px

        rm-outline()

    &__slash
        margin 4px 2px 0 2px
