.container

  &__title
    margin-bottom 24px

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #272528;

  &__content
    max-width 276px
    display flex
    justify-content space-between

  &__input
    width 44%
