[v-cloak]
  display: none !important

  & > *
    display: none !important

.oc-button
  border 0
  background-color transparent

  cursor pointer

  rm-outline()

  & > span.icon-content.close svg path
    stroke $gray

