.ap-folding
    &__btn
        border none
        outline none
        font-family Calibri
        font-style normal
        font-weight bold
        font-size 18px
        line-height 20px
        color $dark
        text-transform uppercase
        cursor pointer
        background-color rgba(0, 0, 0, 0)
        background-repeat no-repeat
        padding-left 20px
        background-position top 44% left

        &--close
            background-image url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L1 9' stroke='%23272528'/%3E%3C/svg%3E%0A")

        &--open
            background-image url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5 5L0.999998 1' stroke='%23272528'/%3E%3C/svg%3E%0A")
