.three-blocks
  position relative

  max-width 1280px
  display flex
  flex-direction row
  flex-wrap nowrap
  margin 0 auto
  margin-top 40px
  padding-top 40px
  padding-bottom 20px

  border-top 1px solid #ECECEC
  border-bottom 1px solid #ECECEC

  @media (max-width 768px)
    flex-wrap wrap
    flex-direction column
    border none
    margin-top 0
    padding-top 0

div.info-block
  width 50%

  @media (max-width 768px)
    width auto

div.info-block-1
  border-right 1px solid #ECECEC

  @media (max-width 768px)
    border none

div.info-block-2
  width 50%

  border-right 1px solid #ECECEC

  @media (max-width 768px)
    width 100%
    border none
    border-right 0
    margin-top 24px
    border-top 1px solid #ECECEC

div.info-block-3
  padding-left 40px

  @media (max-width 1280px)
    padding-left 20px

  @media (max-width 768px)
    padding-left 0
    margin-top 24px
    border-top 1px solid #ECECEC


