@font-face
  font-family Calibri
  font-style normal
  font-weight normal
  src local("CalibriRegular"),
  local("Calibri Regular"),
  local("Calibri_Regular"),
  local("Calibri-Regular"),
  local("calibri-regular"),
  local("calibriregular"),
  local("calibri regular"),
  local("Calibriregular"),
  local("Calibri regular"),
  local("Calibri-regular"),
  url("/fonts/CalibriRegular.woff") format('woff'),
  url("/fonts/CalibriRegular.woff2") format('woff2')

@font-face
  font-family Calibri
  font-weight bold
  font-style normal
  src local("CalibriBold"),
  local("Calibri Bold"),
  local("Calibri_Bold"),
  local("Calibri-Bold"),
  local("Calibri-Bold"),
  local("calibri-bold"),
  local("calibribold"),
  local("calibri_bold"),
  local("Calibribold"),
  local("Calibri bold"),
  local("Calibri-bold"),
  url("/fonts/CalibriBold.woff") format('woff'),
  url("/fonts/CalibriBold.woff2") format('woff2')

@font-face
  font-family Rouble Sans
  font-weight normal
  font-style normal
  src url("/fonts/rouble-sans.woff") format('woff'),
  url("/fonts/rouble-sans.woff2") format('woff2')

body,p,h1,h2,h3,h4,h5,span,b,button,div
  font-family Calibri, "Comic Sans MS", cursive, sans-serif
  margin 0
  padding 0

a
  text-decoration none
