@font-face
  font-family Calibri
  font-style normal
  font-weight normal
  src url("/fonts/Calibri Regular.ttf")

@font-face
  font-family Calibri
  font-weight normal
  font-style italic
  src url("/fonts/Calibri Italic.ttf")

@font-face
  font-family Calibri
  font-weight bold
  font-style normal
  src url("/fonts/Calibri Bold.ttf")

@font-face
  font-family Calibri
  font-weight bold
  font-style italic
  src url("/fonts/Calibri Bold Italic.ttf")

body,p,h1,h2,h3,h4,h5,span,b,button,div
  font-family Calibri
  margin 0
  padding 0

i
  font-family fontawesome
  font-style normal

h2
  font-size $fs-3

h4
  font-size $fs-2

a
  text-decoration none
  color $blue-1
