@font-face
  font-family Calibri
  font-style normal
  font-weight normal
  src url("/fonts/Calibri Regular.ttf")

@font-face
  font-family Calibri
  font-weight normal
  font-style italic
  src url("/fonts/Calibri Italic.ttf")

@font-face
  font-family Calibri
  font-weight bold
  font-style normal
  src url("/fonts/Calibri Bold.ttf")

@font-face
  font-family Calibri
  font-weight bold
  font-style italic
  src url("/fonts/Calibri Bold Italic.ttf")

@font-face
  font-family Airbnb Cereal App
  font-weight 900
  font-style normal
  src url("/fonts/AirbnbCerealBlack.ttf")

@font-face
  font-family Airbnb Cereal App
  font-weight bold
  font-style normal
  src url("/fonts/AirbnbCerealBold.ttf")

@font-face
  font-family Airbnb Cereal App
  font-weight 300
  font-style normal
  src url("/fonts/AirbnbCerealBook.ttf")

@font-face
  font-family Airbnb Cereal App
  font-weight 800
  font-style normal
  src url("/fonts/AirbnbCerealExtraBold.ttf")

@font-face
  font-family Airbnb Cereal App
  font-weight 200
  font-style normal
  src url("/fonts/AirbnbCerealLight.ttf")

@font-face
  font-family Airbnb Cereal App
  font-weight bold
  font-style normal
  src url("/fonts/AirbnbCerealMedium.ttf")

body,p,h1,h2,h3,h4,h5,span,b,button,div
  font-family Calibri
  margin 0
  padding 0

body
  background #f9f9f9

i
  font-family fontawesome
  font-style normal

h2
  font-size $fs-3

h4
  font-size $fs-2

a
  text-decoration none
  color $blue-1
