/**
  * Font Size
  */

$fs-1 = 1.25rem
$fs-2 = 1.45rem
$fs-3 = 2rem
$fs-4 = 2.5rem
$fs-5 = 3rem
$fs-6 = 4rem

/**
  * Sizes
  */

$size-0 = 5px
$size-1 = 10px
$size-2 = 15px
$size-3 = 20px

/** 
  * Colors
  */

$violete = #7140b8
$white = #ffffff
$black = #000000
$gray-0 = #f0f0f0
$gray-1 = #d9d9d9
$gray-2 = #4d494a

$green-1 = #74d96a

$orange = rgb(255, 205, 0)

$blue-1 = #5271ff

$red-1 = #ff1e1e
