/**
  * Font Size
  */

$fs-1 = 1.25rem

/**
  * Sizes
  */

$size-0 = 5px
$size-1 = 10px
$size-2 = 15px
$size-3 = 20px

/** 
  * Colors
  */

$violete = #7140b8
$white = #ffffff
$black = #000000
$gray-0 = #f0f0f0
$gray-1 = #d9d9d9
$gray-2 = #4d494a