button(width, height)
  width width
  height height

  background-color $blue

input()
  background-color #F0F0F0

rm-outline()
  &:hover
  &:focus
  &:active
    outline 0

anim(property)
  transition property 0.3s ease-in-out 0s
