.box
    width 500px
    position absolute
    left calc(50% - 314px)
    padding 64px
    background #FFFFFF
    border-radius 4px


.flex
    display flex


.h
    font-family Airbnb Cereal App
    font-style normal
    font-weight 800
    font-size 26px
    line-height 36px
    text-align left
    letter-spacing 0.371429px
    color #272528


.headline
    font-family Airbnb Cereal App
    font-style: normal
    font-weight: 800
    font-size: 26px
    line-height: 36px
    text-align: left
    letter-spacing: 0.371429px
    color: #5604C1


.p14
    font-family: Calibri
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 28px
    letter-spacing: 0.1px
    color: #272528
    margin-top: 8px
    margin-bottom: 0


.goback
    position: absolute
    top: 348px
    left: 64px
    font-family: Calibri
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.1px
    color: #5604C1


.copyright
    position: absolute
    width: 138px
    height: 20px
    right: 96px
    bottom: 31px
    font-family: Calibri
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    text-align: right
    letter-spacing: 0.1px
    color: #C1C4CD
    padding: 0


@media (max-width: 750px)
    .box
        width: 284px
        height: 100%
        padding: 18px
        left: calc(50% - 160px)


    .flex
        display: block


    .goback
        position: static
        display: inline-block
        text-align: center
        width: 100%
        margin-top: 48px


    .copyright
        text-align: center
        right: 0
        left: calc(50% - 69px)
        bottom: 22px


