.flex
    display flex

.pass
  background: #ECECEC;
  border-radius: 4px 4px 0px 0px;
  width: 288px;
  height: 28px;
  border: none;
  outline: none;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #1F1D21;
  padding: 14px 16px;

.norm
    box-shadow inset 0px -2px 0px #7140B8

.red
    box-shadow inset 0px -2px 0px #CA1F03

.btn
    width 160px
    height 56px
    background-color #DFE1E5
    border-radius 4px
    margin-left 20px
    border none

    font-style normal
    font-weight bold
    font-size 16px
    line-height 24px
    text-align center
    letter-spacing 0.1px
    color #272528
    padding 17px 16px 15px 16px
    transition background-color 0.2s
    border none
    outline none

.active
    color #ffffff
    background-color #3D88C8

.red-p
    font-style normal
    font-weight normal
    font-size 16px
    line-height 20px
    letter-spacing 0.1px
    color #CA1F03
    padding-top 8px


@media (max-width 750px)
    .flex
        display block


    .pass
        width 256px


    .btn
        margin-top 64px
        margin-left 0
        width 288px


    .sp
        margin-top 36px


