.rules-flex {
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.rules {
    margin-top: 85px;
    width: 640px;
    padding-bottom: 71px;
    border-bottom: 1px solid #ECECEC;

    &__p {
        font-family: Calibri;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #272528;
        margin-bottom: 60px;
    }

    &__span {
        font-family: Calibri;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #272528;
        white-space: pre;
    }
}

.pl40 {
    padding-left: 24px;
    width: 616px;
}