.apartments-filter
  &__list
    display flex
    margin 0
    padding 0

    list-style none

  &__item
    margin-right 8px
    &--desktop
      display none

    &:hover
    &:focus
      outline 0

  & .unit-filter
    position relative

    &__button
      padding 4px 16px

      font-style normal
      font-weight normal
      font-size 13px
      line-height 28px
      color #989BA8

      background #FFFFFF
      border 1.4px solid #DADADA
      box-sizing border-box
      border-radius 20px

      cursor pointer
      transition all 0.3s ease-in-out 0s

      &.active-button
        color #272528
        border-color #272528

        transition all 0.3s ease-in-out 0s

      &.selected-button
        font-weight bold

        color #272528
        border-color #272528

        transition all 0.3s ease-in-out 0s

      &:hover
      &:focus
        outline 0

    &__content
      position absolute
      left 0
      top 52px

      z-index 99

@media (min-width: 1280px)
  .apartments-filter
    &__item
      margin-right 12px
      &--desktop
        display block

    & .unit-filter
      &__button
        padding 6px 18px

        font-size 18px
        line-height 28px
