.req-step6
  position relative

  &__h2
    font-family Calibri
    font-style normal
    font-weight bold
    font-size 14px
    line-height 32px
    letter-spacing 0.3px
    text-transform uppercase
    color $dark

  &__mt62
    margin-top 62px

  &__input-date
    width 220px

  &__input-guests
    width 248px
    background-image url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0H0L4 4L8 0H4Z' fill='%23989BA8'/%3E%3C/svg%3E%0A")
    background-repeat no-repeat
    background-position center right 18px

  &__input-price
    width 186px

  &__span-price
    font-family Calibri
    font-style normal
    font-weight normal
    font-size 18px
    line-height 28px
    letter-spacing 0.1px
    color $secondary
    margin-left -75px

  &__input-citizenship
    width 186px