.req-step6
  position relative

  &__h2
    font-family Calibri
    font-style normal
    font-weight bold
    font-size 14px
    line-height 32px
    letter-spacing 0.3px
    text-transform uppercase
    color $dark

  &__input-date
    width 220px !important

  &__input-guests
    // width 248px !important
    background-image url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0H0L4 4L8 0H4Z' fill='%23989BA8'/%3E%3C/svg%3E%0A")
    background-repeat no-repeat
    background-position center right 18px

  &__input-price
    width 186px
    margin-top 12px

  &__span-price
    font-family Calibri
    font-style normal
    font-weight normal
    font-size 18px
    line-height 28px
    letter-spacing 0.1px
    color $secondary
    margin-left -75px

  &__input-citizenship
    width 186px

  &__p-price
    font-family Calibri
    font-style normal
    font-weight normal
    font-size 14px
    line-height 17px
    color $secondary
    width 500px

  &__date-content
    .filter-calendar
      &__content
        margin-top 8px
        visibility visible
        z-index 9

      .input-container
        display none

  &__guests-container
    max-width 248px

    & .dropdown
      position relative

    & .dropdowncontent
      position absolute
      width 100%

    & .oc-input-most .input
      background-image url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0H0L4 4L8 0H4Z' fill='%23989BA8'/%3E%3C/svg%3E%0A") !important
      background-repeat no-repeat !important
      background-position center right 18px !important
