.container
  min-height 540px

  &__intro
    display inline-flex
    align-items center
    margin-bottom 35px
    padding 18px

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.3px;
    color: #272528;

    box-sizing border-box

    background: rgba(202, 31, 3, 0.1);
    border-radius: 10px;

  &__button
    display inline-flex
    min-width 207px

    &--required
      color $danger

  &__content
    position absolute
    top 41px
    left 0
    right 0

    max-width 208px

    z-index 9

  &__dropdown
    position relative

    margin-bottom 30px

  &__from-to
    min-height auto
    margin-bottom 30px

  &__list
    margin 0
    margin-bottom 50px
    padding 0

    list-style none

  &__mb
    margin-bottom 200px
