.all
  border 2px solid rgba(141, 255, 255, .3)
  border-radius 4px
  padding 20px
  margin 15px 10px 0 0
  
.star
  width 12px
  height 12px
  object-fit fill

.star-box
  text-align right

.box-flex
  display flex

.rating
  width 440px
  height 73px

.comments-button
  border 1px solid rgb(255, 205, 0)
  border-border-radius 4px
  margin 5px 10px
  padding 10px 15px

.write-comment-button
  background-color rgb(255, 205, 0)
  border-radius 4px
  margin 5px 10px
  padding 10px 15px

.text-button
  margin auto

.svg-img
  width: 57px;
  transform: rotate(-21.165deg);
  height: 73px;
  margin-left: 38px;
