.ap-checkbox
    background #FFFFFF
    border 1px solid #DADADA
    box-sizing border-box
    border-radius 4px
    width 24px
    height 24px
    flex-shrink 0
    display flex
    justify-content center
    align-items center
    transition all 0.3s ease-in-out 0s

    &--black
        background $dark
        border none
