.sign-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
}

.box__signin {
    height: 256px;
    top: calc(50% - 192px);
}

@media (max-width: 750px) {
    .sign-in {
        background-color: #FFFFFF;
    }
}
