.apartments-filter
  &__list
    display flex
    margin 0
    padding 0

    list-style none

  &__item
    margin-right 8px

    &--desktop
      display none

  & .unit-filter
    position relative

    &__content
      position absolute
      left 0
      top 52px

      z-index 99

@media (min-width: 1280px)
  .apartments-filter
    &__item
      margin-right 12px
      &--desktop
        display block
