.pagination
  width 100%
  height 40px
  display flex
  justify-content space-between
  padding 0
  max-width 312px
  margin 0 auto

.pagination__left
  float left

.pagination__right
  float right

.pagination__right a
  float right

  & svg
    transform rotate(180deg)

.pagination__left a
.pagination__right a
  border 1px solid $secondary

.pagination__left a:hover
.pagination__right a:hover
    background-color #680FDC
    transition all 0.3s ease-in-out 0s

      & svg
        stroke white

        & path
          stroke #FFFFFF

.pagination a,
.pagination span
  display flex
  align-items center
  justify-content center

  text-align center
  font-weight 300
  line-height 42px
  height 44px
  color $dark
  font-size 18px

  transition all 0.3s ease-in-out 0s

.pagination a
  position relative

  width 40px
  height 40px

  background #FFFFFF
  box-sizing border-box
  border-radius 50%

  text-decoration none
  margin 0
  transition all .2s ease-in-out

  &:hover
  &:focus
    outline 0

  & svg
    position absolute
    top 0
    left 0
    right 0
    bottom 0

    width 18px
    height 14px
    margin auto

  &:hover svg path
    stroke white

.pagination a.current
  border-color #ECECEC
  background-color #ECECEC

.pagination__mid
  display flex
  justify-content center
  width 60%

.pagination__mid ul
  padding 0
  margin 0

  list-style none

  overflow hidden

.pagination__mid li
  display inline-block

