.card-map
  width 100%
  min-width 284px
  max-width 284px

  overflow hidden

  &__map-container
    width 100%
    height 168px
    margin-bottom 16px

    border-radius 12px

    overflow hidden

  &__title
    position relative

    margin-bottom 4px
    min-height 48px
    max-height 48px

    overflow hidden

    &.title-more:hover
      overflow visible

      & .title-cont
        show-on-hover()

    &--cont
      display inline-block
      min-height 48px
      margin 0

    &--link
      display block
      min-height 48px

      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: #272528;

      & a.text-link
        white-space normal

  &__type
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $dark

  &__address
    position relative
    height 20px

    margin 0
    margin-bottom 15px

    overflow hidden
    z-index 3
    anim all

    .card-address
      &__list
        display inline-flex
        margin 0
        padding 0

        list-style none

      &__item
        display inline-flex

      &__link
        display inline-block

        color $dark
        white-space nowrap

        &:hover
          text-decoration underline

    &.address-more:hover
      overflow visible

      anim all

      & > ul.card-list
        display flex
        flex-wrap wrap

        show-on-hover()

        & .card-link
          white-space normal

  &__days
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #989BA8;

  .title-cont
    &__rouble
      font-family Rouble Sans

  &__price
    display flex
    align-items flex-end

    &--count
      display inline-block
      margin-right 5px

      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #272528;

    &--rouble
      display flex
      align-items center

      font-family Rouble Sans
      font-size 19px

    &--measure
      display inline-block
      margin-left 9px

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #989BA8;

@media (min-width 1280px)
  .card-map
    min-width 296px
    max-width 296px
    margin-right 32px !important

    &__type
      margin-bottom 12px

    &__rooms
      margin-bottom 8px

    &__days
      margin-bottom 8px

    &__title--link
      margin-bottom 8px

      font-size: 20px;

    &__map-container
      height 200px


