.oc-button-list
  display block
  width 100%

  & > span.text-content
    display block
    width 100%
    padding 12px 18px

    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 20px
    color: $black-1
    text-align left

    box-sizing border-box

    anim(all)

    &:hover
      background-color #ECECEC
      anim(background-color)
