.oc-button
  border 0
  background-color transparent

  cursor pointer

  rm-outline()

  & > .icon-content.close svg path
    stroke $secondary

.container
  &__button
    & button
      height 50px

    &--main button
      width 145px

    &--next button
      width 130px

    &--prev button
      width 150px
