.input-wrapper
  position relative
  width 100%

  & > label
    color $gray-2
    font-size 1rem
    font-weight bold
    text-transform uppercase
    min-height 1.2rem
    display block

  & > input
    width 100%
    font-size $fs-1
    box-sizing border-box
    border-radius .25rem
    border 1px solid $gray-0
    padding 5px 10px

  &__fixed-icon
    position absolute
    top 6px
    color $gray-1
    font-size $fs-1

  &__icon-left
    left $size-1

  &__icon-right
    right $size-1

  &__left-padding > input
    padding-left 36px

  &__right-padding > input
    padding-right 36px
