.direction-page
  &__card
    margin-right 14px
//  &__subscribe
//    margin-bottom 26px
//
@media (min-width 1280px)
  .direction-page
    &__card
      margin-right 26px
//    &__subscribe
//      margin-bottom 70px
