.address-content
  margin-bottom 15px

  &__link
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #272528;

    &:hover
      & .text-link
        text-decoration underline

@media (min-width 1280px)
  .address-content
    margin-bottom 28px
    padding 0

    &__link
      font-size: 18px;
      line-height: 22px;
