.oc-card
  margin 0
  padding 10px

  box-sizing border-box

  &__container
    min-width 200px
    height 100px

    box-shadow -1px -1px 5px 0px rgba(50, 50, 50, 0.75)

  &__title 
    font-size 15px