show-on-hover()
  margin -5px
  position absolute
  top 0
  left 0
  right 0

  padding 5px

  background-color white
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1)
  border-radius 5px
  box-sizing border-box

  anim(all)

.card-item
  position relative

  min-width 252px
  width 252px
  max-width 252px
  margin-right 14px

  box-sizing border-box

  &:last-child
    margin-right 0

  &__img-container
    display flex
    align-items center
    justify-content center
    min-width 252px
    height 168px

    border-radius 5px

    overflow hidden

  &__image
    & > img
      display block
      width 100%
      height auto

  &__list
    margin-bottom 16px

  &__title
    position relative

    display block
    margin 0
    height 24px
    min-height 24px
    max-height 24px

    overflow hidden
    z-index 8

    &--link-cont
      margin 0
      display inline-block

    &.title-more
      &:hover
        overflow visible

        & p
          show-on-hover()

        & a
          white-space normal

  &__intro
    min-height 16px
    height 16px
    max-height 16px
    margin-bottom 8px

    &--content
      margin 0

      font-style: normal
      font-weight: normal
      font-size: 13px
      line-height: 20px
      color: #989BA8

  &__address
    position relative
    height 20px

    margin 0
    margin-bottom 4px

    overflow hidden
    z-index 3
    anim(all)

    &--content
      display block
      width auto
      margin 0

      font-style: normal
      font-weight: normal
      font-size: 13px
      line-height: 20px
      color: #272528
      white-space nowrap

      anim(all)

    @media(min-width 1280px)
      margin-bottom 12px

    &.address-more
      &:hover
        overflow visible

        anim(all)

        & p
          show-on-hover()

          white-space normal

  .card-settings
    height 28px
    margin 0
    margin-bottom 8px
    padding 0

    &__content
      display flex
      align-items center
      margin 0

      font-style: normal
      font-weight: normal
      font-size: 13px
      line-height: 20px
      color: #989BA8

    &__rate
      margin 0
      margin-right 10px
      padding 4px 8px

      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
      letter-spacing: -0.5px
      text-transform: uppercase
      color: #FFFFFF

      background: #EB574F
      border-radius: 4px

    &__reviews
      display flex
      margin 0
      height 20px

      white-space nowrap

    &__type
      position relative

      display flex
      height 20px
      margin 0
      padding-left 13px

      &:before
        content ''
        position absolute
        top 50%
        left 6px

        width 2px
        height 2px

        background-color #989BA8
        border-radius 5px

    &__views
      position relative

      display flex
      max-height 20px
      min-height 20px
      margin 0
      padding-left 13px

      box-sizing border-box
      overflow hidden

      z-index 6

      &--content
        display block
        height 100%
        margin 0

        font-style normal
        white-space nowrap
        box-sizing border-box

      &:before
        content ''
        position absolute
        top 50%
        left 6px

        width 2px
        height 2px

        background-color #989BA8
        border-radius 5px

      &.view-more
        &:hover
          width 100%
          height 100%

          overflow visible

          anim(all)

          & p
            show-on-hover()
            left 13px

            width 100%
            height 45px

            white-space normal

  &__attrs
    position relative

    margin-top -4px
    min-height 40px
    height 40px
    margin-bottom 4px

    overflow hidden

    &--list
      display flex
      align-items flex-start
      flex-wrap wrap
      margin 0
      padding 0

      list-style none

    @media(min-width 1280px)
      margin-top -12px

    &.more-attrs
      &:hover
        overflow visible

        & ul
          show-on-hover()

  &__attr
    position relative
    align-self flex-start

    padding-left 13px

    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 20px
    color: #989BA8

    &:before
      content ''

      position absolute
      top 50%
      left 6px

      width 2px
      height 2px

      background-color #989BA8
      border-radius 5px

    &:first-child
      padding-left 0

      &:before
        display none

  &__button-like
    position absolute
    top 20px
    right 20px

  &__price-container
    display flex

  &__old-price
    margin-right 13px

    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 24px
    text-decoration line-through
    color #272528

    &--rouble
      font-family Rouble Sans
      font-size 19px

  &__price
    margin-right 5px

    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 24px
    color: #272528

    &--rouble
      font-family Rouble Sans
      font-size 19px

  &__type-price
    display flex
    align-items flex-end

    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 20px
    color: #989BA8

  &__swiper
    & .carousel
      &__button-container
      &__dots-container
        display none

@media(min-width 1280px)
  .card-item
    min-width 300px
    max-width 300px
    margin-right 26px

    &:last-child
      margin-right 0

    &__img-container
      min-width 300px
      height 200px

    &__attrs
      margin-bottom 12px

    &__title
      margin-top 24px

    &__intro
      &--content
        font-size 14px

    &__attr
      font-size 14px

    &__button-like
      opacity 0

    & .card-settings
      &__content
        font-size: 14px
        line-height: 20px

    &__address
      &--content
        font-size: 14px
        line-height: 20px

    & .carousel
      &__button-container
      &__dots-container
        display block

        opacity 0
        transition opacity 0.3s ease-in-out 0s

      &__dots-container
        opacity 1

      & .btn-carousel
        &__prev
        &__next
          width 32px
          height 32px
          margin-top -16px

          & span svg
            width 12px
            height 11px

        &__prev
          left 12px
        &__next
          right 12px

    &__list

      &:hover .carousel__button-container
        opacity 1
        transition opacity 0.3s ease-in-out 0s

    &:hover .card-item__button-like
      opacity 1
      transition opacity 0.3s ease-in-out 0s
