.add-request
  &__container
    padding 20px
    width 950px
    margin auto
    background-color white
    margin-top 50px
    border-radius 5px

  &__flex
    display flex

  &__column
    flex-basis 50%
    padding-right 20px

  &__p
    font-family Calibri
    font-style normal
    font-weight bold
    font-size 14px
    line-height 32px
    letter-spacing 0.3px
    text-transform uppercase
    color $dark
    margin-top 15px
    margin-bottom 15px

  &__red-star
    color #CA1F03

  &__adress
    width calc(100% - 41px)

  &__unknoun-house
    font-style normal
    font-weight normal
    font-size 16px
    line-height 20px
    letter-spacing 0.1px
    color #CA1F03
    padding-top 8px

    &:before
      content ''
      background-image url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M69.875 35C69.875 54.2652 54.2596 69.875 35 69.875C15.7404 69.875 0.125 54.2652 0.125 35C0.125 15.746 15.7404 0.125 35 0.125C54.2596 0.125 69.875 15.746 69.875 35ZM35 42.0312C31.4274 42.0312 28.5312 44.9274 28.5312 48.5C28.5312 52.0726 31.4274 54.9688 35 54.9688C38.5726 54.9688 41.4688 52.0726 41.4688 48.5C41.4688 44.9274 38.5726 42.0312 35 42.0312ZM28.8585 18.7795L29.9016 37.9045C29.9504 38.7994 30.6904 39.5 31.5866 39.5H38.4134C39.3096 39.5 40.0496 38.7994 40.0984 37.9045L41.1415 18.7795C41.1943 17.8128 40.4246 17 39.4565 17H30.5433C29.5753 17 28.8057 17.8128 28.8585 18.7795Z' fill='%233D88C8'/%3E%3C/svg%3E%0A")
      background-position center
      background-repeat no-repeat
      padding 13px

  &__dd-btn .ap-button-filter
    width 100%

  &__sel
    width 444px
    font-style normal
    font-weight normal
    font-size 14px
    padding-left 7px
    -webkit-appearance none
    -moz-appearance none
    -ms-appearance none
    appearance none !important
    background transparent
    background-image url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5 5L0.999998 1' stroke='%23989BA8'/%3E%3C/svg%3E%0A")
    background-position right 7px center
    background-repeat no-repeat
    outline none
    border none
    border 1px solid #DADADA
    border-radius 4px

  &__input-date
    // width 220px !important

  &__date-content
    .filter-calendar
      &__content
        margin-top 8px
        visibility visible !important
        z-index 99

      .input-container
        display none

  &__input-price
    width calc(100% - 40px)

  &__span2
    font-family Rouble Sans
    margin-left -51px

  &__big-desc
    width calc(100% - 40px)
    height 135px
    padding 24px 16px
    font-family Calibri
    font-style normal
    font-weight normal
    font-size 18px
    line-height 28px
    letter-spacing 0.1px
    color $dark
    background-color $light
    box-shadow inset 0px -1px 0px #D5D1DB
    border none
    outline none
    resize none
    transition box-shadow 0.3s
    margin-bottom 20px

    &:focus,
    &:hover
      box-shadow inset 0px -2px 0px #0082B4

  &__btn-next
    width 240px
    margin-right 20px
