.main-box
  position relative

.list-top
  border 2px solid rgb(170, 170, 170)
  border-radius 4px
  width 232px
  height 38px
  text-align center
  line-height 38px
  cursor pointer

.list-box
  visibility hidden
  max-height 0
  position absolute
  border 2px solid rgb(170, 170, 170)
  border-radius 0 0 4px 4px

.list-item
  visibility hidden
  max-height 0
  background-color #fff
  cursor pointer
  text-align center
  width 232px
  border-bottom 1px solid #e6e8ea

.active
  visibility visible
  max-height initial
  line-height 38px

.img-v
  width 15px
  height 15px
  margin-right 15px
