.name {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #272528;
}

.desc {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #272528;

    &__bold {
        font-weight: bold;
    }

    &__grey {
        color: #989BA8;
    }
}
