.search-screen
  height 100vh
  background-image url('/main-background.jpg')
  background-size cover
  display flex
  flex-direction column

  &__row
    display flex
    flex-direction row
    width 100%
    margin-top $size-2

  &__form
    background $white
    padding $size-2 * 2
    color $gray-2
    box-shadow 0px 0px 30px 5px $black
    max-width 400px
    margin $size-3 * 2

