.p-info-3

    font-style normal
    font-weight normal
    font-size 20px
    line-height 24px
    color $dark
    margin-bottom 12px

    @media (max-width 768px)
        font-size 16px
        line-height 20px
        margin-bottom 16px



.bold
    font-weight bold

