.h1-block
  margin-top 100px
  margin-bottom 24px

  @media (max-width 768px)
    margin-top 8px

.container-desc
  &__left
    display flex
    align-items center

.flex
  display flex

.fe
  align-items flex-end
  display flex

  @media (max-width 768px)
    display none

.jc
  justify-content space-between

.aic
  align-items center

.h1
  font-style normal
  font-weight bold
  font-size 40px
  line-height 40px
  letter-spacing 0.2px
  color $dark

  &__rouble
    font-family Rouble Sans
    font-size 34px

  @media (max-width 768px)
    font-size 22px
    line-height 24px
    letter-spacing 0.1px

.h2
  font-style normal
  font-weight bold
  font-size 32px
  line-height 40px
  letter-spacing 0.2px
  color $dark

  @media (max-width 768px)
    font-size 20px
    line-height 24px
    letter-spacing 0.1px

.period
  font-style normal
  font-weight normal
  font-size 20px
  line-height 30px
  text-align right
  color $secondary
  margin-left 5px

.mt12
  margin-top 12px

.estimate
  background #EB574F
  border-radius 4px

  font-style normal
  font-weight bold
  font-size 16px
  line-height 20px
  text-align center
  letter-spacing -0.5px
  text-transform uppercase
  color #FFFFFF
  width 36px
  height 20px
  padding 5px 0 3px 0

.comms
  position relative

  font-style normal
  font-weight normal
  font-size 14px
  line-height 20px
  color $secondary
  margin-left 10px

  &:before
    content ''

    position absolute
    left -6px
    top 50%

    width 2px
    height 2px

    background-color #989BA8

  &:nth-child(2):before
    display none

  @media (max-width 768px)
    font-size 13px
    line-height 20px

.dateNumber
  margin-right 0
  margin-left auto

  font-style normal
  font-weight normal
  font-size 14px
  line-height 17px
  text-align right
  color $secondary

  @media (max-width 768px)
    display none


