.container
  &__header
    margin-bottom 24px

  &__title
    margin-bottom 40px

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #272528;

  &__content
    height 100%
    padding 0 18px

  &__footer
    display flex
    justify-content flex-end
    padding 0 18px

    max-width 1280px
    margin 0 auto
    margin-bottom 30px

  &__button
    width 284px
    margin 0 auto

@media (min-width 768px)
  .container
    &__content
      padding 0 40px

@media (min-width 1280px)
  .container
    &__header
      margin-bottom 40px

    &__title
      margin-bottom 62px

      font-size 32px

    &__content
      max-width 1280px
      margin 0 auto
      padding 0

    &__footer
      padding 0

    &__button
      width 240px
      margin-right 0
      margin-left auto
