.counter
  display flex
  align-items center
  justify-content space-between

  &__title
    margin 0

    font-style normal
    font-weight bold
    font-size 14px
    line-height 14px
    color $dark

  &__sub-title
    font-style normal
    font-weight normal
    font-size 12px
    line-height 20px
    color $secondary

  &__content
    width 100%
    max-width 108px
    display flex
    align-items center
    justify-content space-between

  &__current
    font-style normal
    font-weight bold
    font-size 14px
    line-height 24px
    color $dark
