.card
  display flex
  flex-wrap wrap
  justify-content center
  padding 20px

  box-sizing border-box

  &__img
    margin-bottom 12px
    width: 100%
    max-width 244px
    height: 120px;

    border-radius 12px
    overflow hidden

  &__date
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 28px;
    color: $secondary

  &__attrs
    margin 0
    padding 0

    list-style none

  &__container
    flex-basis 100%
    margin-bottom 24px

  &__footer
    display flex
    justify-content space-between
    flex-basis 100%

  &__price
    &--text
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: $dark

    &--rouble
      font-family Rouble sans
      font-size 19px

@media (min-width 1280px)
  .card
    flex-wrap nowrap
    justify-content space-between
    max-width 1280px
    margin 0 auto
    padding 28px

    &__img
      margin-bottom 0

    &__title
      display inline-block
      max-width 342px
      margin-bottom 12px

    &__attrs
      display flex

    &__attrs-item
      position relative

      padding-left 21px

      &:before
        content ''

        position absolute
        top 51%
        left 10px

        width 2px
        height 2px

        background-color $dark
        border-radius 50%

      &:first-child
        padding-left 0

    &__attr
      margin-right

    &__date
      margin-bottom 4px

      font-size 18px

    &__container
      margin-left 28px
      margin-bottom 0

    &__footer
      flex-basis auto
      justify-content flex-end
      min-width 110px
