.full-block
  margin-bottom 50px
  padding 0 18px
  padding-top 32px
  // background-image url('https://test.personal.guide/apart-01.jpg') // test.personal.guide/apart-01.jpg)
  background-position right center
  background-size cover
  background-repeat no-repeat
  box-shadow rgb(0, 0, 0) 0px 0px 100px inset

  &:before
    position absolute
    top 0px
    left 0px
    width 100%
    height 100%
    content ' '
    background rgba(0, 0, 0, 0.6)
    z-index 1

  &__bg-image
    display none

  &__container
    margin-right auto
    margin-left auto
    max-width 1280px
    z-index 9
    position relative

  &__title
    margin 0
    margin-bottom 20px
    font-style normal
    font-weight bold
    font-size 22px
    line-height 24px
    letter-spacing 0.2px
    text-transform uppercase
    color $dark
    text-align left

  &__description
    font-style normal
    font-weight normal
    font-size 15px
    line-height 18px
    color $secondary
    text-align left

  &__description2
    font-style normal
    font-weight normal
    font-size 15px
    line-height 18px
    color $secondary
    text-align left
    margin-top 20px

  &__buttons
    display flex
    margin-top 15px

  &__rent-in
    background transparent
    color white
    outline none
    cursor pointer
    padding 12px 20px
    border 1px solid white
    border-radius 6px
    margin-right 15px

    &:hover
      background white
      color black

  &__catalog-btn
    width 154px

  &__add-btn
    width 185px

  &__rent-out
    background white
    outline none
    cursor pointer
    padding 12px 20px
    border 1px solid white
    border-radius 6px

@media (min-width 1280px)
  .full-block
    position relative
    min-height 506px
    padding-top 240px
    margin-bottom 20px
    padding-bottom 140px
    box-sizing border-box
    overflow hidden

    // background linear-gradient(180deg, rgba(0, 0, 0, 0.2) 27.17%, rgba(0, 0, 0, 0.11) 38.21%, rgba(0, 0, 0, 0.15) 60%, rgba(0, 0, 0, 0.55) 99.87%)
    &__bg-image
      position absolute
      top -90%
      left 0
      right 0
      bottom 0
      display block
      margin auto
      width 2400px
      min-height 1600px
      z-index -1

    &__container
      // max-width 600px

    &__title
      font-size 40px
      font-weight bold
      line-height 50px
      color white
      max-width 600px

    &__description
      display block
      max-width 520px
      // margin 0 auto
      font-size 16px
      line-height 24px
      color white
      max-width 600px

    &__description2
      display block
      max-width 520px
      // margin 0 auto
      font-size 16px
      line-height 24px
      color white
      max-width 600px
      margin-top 20px

    &__buttons
      display flex
      margin-top 15px
