.h1-block {
    margin-top: 100px;
    margin-bottom: 24px;

    @media (max-width: 768px) {
        margin-top: 8px;
    }
}

.flex {
    display: flex;
}

.fe {
    align-items: flex-end;
    display: flex;

    @media (max-width: 768px) {
        display: none;
    }
}

.jc {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.h1 {
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #272528;

    @media (max-width: 768px) {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0.1px;
    }
}

.h2 {
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #272528;

    @media (max-width: 768px) {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.1px;
    }
}

.period {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #989BA8;
    margin-left: 5px;
}

.mt12 {
    margin-top: 12px;
}

.estimate {
    background: #EB574F;
    border-radius: 4px;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 36px;
    height: 20px;
    padding: 5px 0 3px 0;
}

.comms {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #989BA8;
    margin-left: 10px;
    width: 200px;

    @media (max-width: 768px) {
        font-size: 13px;
        line-height: 20px;
    }
}

.dateNumber {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #989BA8;
    width: 100%;

    @media (max-width: 768px) {
        display: none;
    }
}