.main-menu
  display flex
  flex-direction column
  justify-content space-between

  &__footer
    position sticky
    bottom 0

  &__list
    min-width 300px
    display flex
    flex-direction column
    margin-top 20px
    position sticky
    top 70px

    &-separator
      width 100%
      border-top 2px solid $gray-1
      margin 10px 0

    &.main-menu__list_small
      max-width 100px
      min-width unset

      & .main-menu__item
        flex-direction column
        text-align center
        border none

        & .oc-icon
          font-size 2rem

        & .main-menu__item_title
          padding 14px 20px
          text-align center

  &__item
    display flex
    flex-direction row
    justify-content flex-start
    align-items center
    font-size 1.2rem
    color $gray-2
    border-left 5px solid white

    &_icon-wrapper
      padding 14px 20px
      width 40px
      flex-basis 40px
      text-align center


    &_title
      padding 14px 20px 14px 0

    &.nuxt-link-active, &:hover
      font-weight bold
      background $gray-0
      border-left 5px solid $violete

      & .main-menu__item_icon-wrapper
        color $violete

