.main-menu
  display flex
  flex-direction row
  align-items center
  box-sizing border-box
  padding 0 $size-2
  width 100%
  background-color $violete

  &__logo
    display flex
    margin-right $size-1
    padding $size-0 0
    align-items center

    &_title
      font-size $fs-2
      margin-left $size-1
      font-weight bold
      color white

      & span 
        color $orange

    & img
      max-width 52px

  &__seperate
    flex 1 1 auto
  
  &__item-list
    display flex
    flex-direction row
    flex 1 1 auto
    justify-content space-around
    max-width 700px

  &__item
    color $white
    font-size $fs-1
    margin auto $size-1
