.main-menu
  display flex
  flex-direction row
  align-items center
  box-sizing border-box
  padding 0 $size-2
  width 100%
  background-color $violete

  &__logo
    max-width 52px
    display flex
    margin-right $size-1
    padding $size-0 0

  &__seperate
    flex 1 1 auto
  
  &__item-list
    display flex
    flex-direction row
    flex 1 1 auto
    justify-content space-around
    max-width 700px

  &__item
    color $white
    font-size $fs-1
    margin auto $size-1