.oc-checkbox-most
  & .icon.check
    position absolute
    left 0
    top 0
    bottom 0

    display flex
    align-items center
    margin auto 0

    & svg
      & path
        stroke transparent

      & rect
        fill white
        stroke transparent

  &:hover .icon.check
    & > svg
      & > rect
        stroke $dark

  &.checked .icon.check
    & > svg
      & > path
        stroke white

      & > rect
        fill $dark
        stroke $dark

  & .label
    position relative

    display flex
    height 24px
    align-items center
    padding-left 40px

    font-style normal
    font-weight normal
    font-size 13px
    line-height 20px
    color $dark

    anim all

    cursor pointer

    &:before
      content ''

      position absolute
      left 0
      top 0
      bottom 0

      width 24px
      height 24px
      margin auto 0

      background #FFFFFF
      border 1px solid #DADADA
      box-sizing border-box
      border-radius 4px
      cursor pointer

  &.checked .label
    &:before
      background-color black
      border 2px solid $dark

@media (min-width 640px)
  .oc-checkbox-most
    & .label
      font-size 16px
