.check-container
  margin-bottom 20px

  &__title
    margin-bottom 24px

    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #272528;

  &__list
    margin 0
    padding 0

    list-style none

  &.checkbox .item
    margin-bottom 16px

  &.radio .item
    margin-bottom 24px

@media (min-width 1280px)
  .check-container
    &__title
      font-size 18px
