.all-comfort
    padding-bottom 66px
    border-bottom 1px solid #E5E5E5
    position relative
    max-width 1280px
    margin auto

    @media (max-width 768px)
        padding-bottom 24px



.h-comfort

    font-style normal
    font-weight bold
    font-size 32px
    line-height 39px
    display flex
    align-items center
    color $dark
    margin-top 72px
    margin-bottom 52px

    @media (max-width 768px)
        font-size 20px
        line-height 24px
        margin-top 24px
        margin-bottom 16px



.flex-comfort
    display flex
    flex-wrap wrap
    max-width 1280px
    height 655px
    overflow hidden

    @media (max-width 768px)
        height 264px



.show-all
    height 40px
    position absolute
    bottom -20px
    right calc(50% - 80px)

    @media (max-width 768px)
        height 36px
        right calc(50% - 62px)



.active
    height auto

