.all-comfort {
    padding-bottom: 66px;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
    max-width: 1280px;
    margin: auto;
}

.h-comfort {
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #272528;
    margin-top: 72px;
    margin-bottom: 52px;
}

.flex-comfort {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    height: 655px;
    overflow: hidden;
}

.show-all {
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 44px;
    width: 157px;
    height: 40px;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272528;
    position: absolute;
    bottom: -20px;
    right: calc(50% - 60px);
}

.active {
    height: auto;
}