.headline {
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    color: #989BA8;
}

.flex {
    display: flex;
    padding-top: 22px;
}

.arrow {
    width: 27px;
    height: 23px;
    background: #FFFFFF;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;

    &_left {
        display: block;
        margin: 4px 4px 4px 5px;
    }

    &_right {
        display: block;
        margin: 4px 5px 4px 4px;
    }
}

.arrow:hover {
    background: #ECECEC;
}

.month-name {
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #474849;
    width: 168px;
    text-align: center;
    padding-top: 3px;
}

.table {
    border-collapse: collapse;
    margin-top: 10px;
}

.week-days {
    width: 32px;
    height: 32px;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #989BA8;
}

.empty {
    width: 32px;
    height: 32px;
}

.cell-box {
    width: 31px;
    height: 31px;
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 0px;
    align-items: center;
    text-align: center;
    border: 0.5px solid #D4D4D4;
}

.unavailable {
    color: #989BA8;
    cursor: default;
}

.available {
    color: #272528;
    cursor: pointer;
}

.available:hover {
    background: #ECECEC;
}

.selected {
    background: #272528;
    color: #FFFFFF;
    cursor: pointer;
}

.selected:hover {
    background: #272528;
    color: #FFFFFF;
    cursor: pointer;
}